{% extends "base.html.twig" %}

{% block title %}
    Ajouter un projet - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Ajouter un projet</h2>

    {{ include('admin/form.html.twig') }}

    <p>
        <a href="{{ path('projects') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour aux projets
        </a>
    </p>

{% endblock %}