{% extends "base.html.twig" %}

{% block title %}
    Modifier un projet - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Modifier un projet</h2>

    {{ include('admin/form.html.twig') }}


{% endblock %}