{% extends 'base.html.twig' %}

{% block title %}
    Oups ! - {{ parent() }}
{% endblock %}

{% block body %}

    <div id="error_page">
        <h2> Oups !</h2>
        <p>Il semblerai que vous etes perdu dans le continum espace temps !</p>
        <p>La ou on va on a pas besoin de route mais quand même...</p>
    </div>

{% endblock %}