{% extends 'base.html.twig' %}

{% block title %} Parametre : {{ slug }} {% endblock %}

{% block body %}

<h1> Le parametre est le suivant : {{ slug }}</h1>

 {# dump() #}

<ul>
    {% for note in notes %}
        <li>{{ note }}</li>
    {% endfor %}
</ul>

{% endblock %}