{% extends 'base.html.twig' %}
{% block body %}


    <div class="container">
        <div class="row">
            <h2 class="cv-title">Competence</h2>
        </div>


        <div class="row">

            <img id="tools" src="{{ asset('images/tools.jpg') }}" alt="tools">
        </div>

        <div class="container-fluid" id="skills">
                <div class="progress">
                    <div class="progress-bar progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">Python</div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar- bg-success" role="progressbar" style="width: 95%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Installation, mise à niveau et dépannage matériel</div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 5%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">95%</div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar- bg-info" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">PHP/Symfony</div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">70%</div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">JavaScript/jQuery</div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 30%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">70%</div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">HTML/CSS</div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 10%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
        </div>

        <div class="row">
            <h2 class="cv-title">Experience</h2>
        </div>


        <div class="row">
            <img id="work" src="{{ asset('images/work.png') }}" alt="work">
        </div>

        <div class="container-fluid">
            <div class="row" id="xp">

                <table>
                    <tr>
                        <td class="date-xp">
                        2014 - 2016
                        </td>
                        <td class="content-xp">
                            Technicien support - Eiffage
                            Support de niveau 1, résolution des incidents à distance et formation des utilisateurs, utilisation d'un outil de ticket.
                        </td>
                    </tr>
                    <tr>
                        <td class="date-xp">
                            2013 - 2014
                        </td>
                        <td class="content-xp">
                            Technicien de proximité - Technisites
                            Maintenance du parc informatique et imprimantes des laboratoires d'analyse médicale. Résolution à distance ou sur site et formation des utilisateurs
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="row">
            <h2 class="cv-title">Formations</h2>
        </div>

        <div class="row">

            <img id="formation" src="{{ asset('images/study.jpg') }}" alt="formation">
        </div>
        <div class="container-fluid">
            <div class="row" id="study">

                <table>
                    <tr>
                        <td class="date-study">
                            2016 - 2018
                        </td>
                        <td class="content-xp">
                            Développeur Web Junior
                            Diplôme prévu pour début 2018
                            Bac+2 ou équivalent
                        </td>
                    </tr>
                    <tr>
                        <td class="date-study">
                            2010
                        </td>
                        <td class="content-xp">
                            BAC Sciences technologiques industrielles génie mécanique
                        </td>
                    </tr>
                </table>
            </div>
            <div id="cv-dl">
            <a href="{{ asset('images/cv.pdf') }}"
               download="CV_Nico2p.pdf">Télécharger le cv</a>
            </div>
        </div>




    </div>


{% endblock %}