{% extends 'base.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div id="jumbo-home" class="jumbotron">
                    <div id="text-nico2p">
                        <h1 class="display-3 text-white">Nico2p</h1>
                        <div class="hidden">
                        <p class="lead"> Développeur web</p>
                        </div>
                    </div>
                    <img id="rubik_home" src="{{ asset('images/Rubik.png') }}" alt="rubik_accueil">
                    <div id="btn_jumbotron">

                        <a class="btn btn-info" href="/cv" role="button">CV</a>
                        <a class="btn btn-info" href="/projects" role="button">Projets</a>
                        <a class="btn btn-info" href="/more" role="button">Plus d'informations</a>

                    </div>
            </div>
        </div>
    </div>




{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.2.1.slim.min.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
    {% endblock %}

