{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <div class="row">
            <h2>Projets réalisé pour OpenClassRoom</h2>
        </div>
    </div>

    <div class="imgcontainer">
        <figure><img src="{{ asset('images/dev.png') }}" alt="">
            <figcaption class="text-content"><span class="fa-stack fa-2x">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <i class="fa fa-eye fa-stack-1x"></i>
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                </span> Lunettes Bretonnes "PasVueBasPrix"
            </figcaption>
        </figure>
        <figure><img src="{{ asset('images/dev.png') }}" alt="">
            <figcaption class="text-content"><span class="fa-stack fa-2x">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <i class="fa fa-eye fa-stack-1x"></i>
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                </span>1001 Astuces de couple</figcaption>
        </figure>
        <figure><img src="{{ asset('images/dev.png') }}" alt="">
            <figcaption class="text-content"><span class="fa-stack fa-2x">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <i class="fa fa-eye fa-stack-1x"></i>
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                </span>Classic HairCut
            </figcaption>
        </figure>
        <figure><img src="{{ asset('images/dev.png') }}" alt="">
            <figcaption class="text-content"><span class="fa-stack fa-2x">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <i class="fa fa-eye fa-stack-1x"></i>
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                </span>L'imprimerie en ligne
            </figcaption>
        </figure>
    </div>
    </section>

{% endblock %}