
{% extends 'base.html.twig' %}

{% block body %}

    <h2>Ajouter un project</h2>

    {{ include("project/form.html.twig") }}

    <p>
        Attention : cette annonce sera ajoutée directement
        sur la page d'accueil après validation du formulaire.
    </p>

{% endblock %}