{% extends "base.html.twig" %}

{% block title %}
    Connexion - {{ parent() }}
{% endblock %}

{% block body %}


    <div id="login_page">
        {% if error %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}

        <div class="block_grey">
            <form class="form-signin" action="{{ path('login_check') }}" method="post">
                <h2 class="form-signin-heading">Espace Admin</h2>
                <div>
                    <label for="username"></label>
                    <input type="text" id="username" name="_username" placeholder="Nom utilisateur" value="{{ last_username }}" />
                </div>
                <div>
                    <label for="password"></label>
                    <input type="password" id="password" name="_password" placeholder="Mot de passe"/>
                </div>
                <br/>
                <input class="btn btn-info" type="submit" value="Connexion"/>
            </form>
        </div>
    </div>

{% endblock %}